.gpt3__features {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.gpt3__features-heading {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-right: 5rem;
  width: 50%;
  margin-bottom: 2rem;
  margin-left: 1rem;
}
.gpt3__features-container__feature {
  justify-content: flex-start;
}
/* gpt3__features-container__feature */
/* .gpt3__features-container__feature {
  display: flex;
  flex-direction: column;
} */
/* .gpt3__features-container__feature {
  display: flex;
  flex-direction: row;
} */
